body{
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
}


label{
    cursor: pointer;
    margin-bottom: 0px;
}


    div label + input  {
        margin-bottom: 4px;
    }


.hide{
    height: 0;
    visibility: hidden;
    opacity: 0;
    
}

.showerror{
    color:red;
    font-size: 14px;
    margin-left: 10px;
    opacity: 1;
    
}

.btn{
    width: 100%;
    margin-top: 10px;
    background-color:  #16AF26;
}

.commerce{ 
    max-height: 0;
    margin-left: 50px;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    order: 1;
}

.commerce.active{ 
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.commerce::-webkit-scrollbar {
    display: none;
  }
  
.show{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.container{
    background-color: #ffffff;
    border-radius: 25px;
}
.header{
    font-size: 30px;
    background:  #28a745;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: #ffffff;
}
b{
    font-size: 24px;
}
.row{
    margin-bottom: 5px;
}
.row .checkbox{
    margin-left: 25px;
}
.commerce .row{
    margin:0;
}
/*########################## Input Text ######################### */

label + input[type=text]{
    border: 0;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #cccccc;
}
/*#################  CHECK BOX  ##################### */
.checkbox {
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;

}
.checkbox_input{
    display: none;
}

.checkbox_box{
    width: 1.50em;
    height: 1.50em;
    border:2px solid #cccccc;
    border-radius: 3px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;     
    transition: background-color 0.20s,border-color 0.20s;
}
.checkbox_box:hover {
    border:2px solid #16AF26;

}

.checkbox_box::after{
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #ffffff;
    transform: scale(0);
    transition: transform 0.15s;
}
.checkbox_box::after > ul{
    font-size: 20px;
}
.checkbox_input:checked + .checkbox_box{
    background-color: #16AF26;
    border-color: #16AF26;
    
}


.checkbox_input:checked + .checkbox_box::after{
    transform: scale(1);
    
}
/*label .checkbox_input:checked + div + label{
    display:inline-flex;
    align-items: center;
    font-size: 14px;
    color: red;
    cursor: auto;
    margin-left: 5px;
    visibility: visible;
    opacity: 1;
    transition:  opacity 0.3s ease;
    
}*/
/*###################  icon image  ##################### */
label img{
    height: 25px;
    width: 25px;
}

/*################################################## */
label .checkbox_input::not(:checked) + div + label{
    visibility: visible;
    opacity: 0;
}
/*################################################## */