body{
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
}

li{
    font-size: 14px;
}
.checkbox {
        display:inline-flex;
    align-items: center;
    cursor: pointer;

}
.checkbox_input{
    display: none;
}

.checkbox_box{
    width: 1.50em;
    height: 1.50em;
    border:2px solid #cccccc;
    border-radius: 3px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;     
    transition: background-color 0.20s,border-color 0.20s;
}
.checkbox_box:hover {
    border:2px solid #16AF26;

}

.checkbox_box::after{
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #ffffff;
    transform: scale(0);
    transition: transform 0.15s;
}
.checkbox_input:checked + .checkbox_box{
    background-color: #16AF26;
    border-color: #16AF26;
}

.checkbox_input:checked + .checkbox_box::after{
    transform: scale(1);
}