{{>layout/head-layout}}
 
   <div class="container">
         <div class="row pt-3">
               <h3><b>รายละเอียดการขายสินค้าออนไลน์</b></h3>
        </div>  <hr class="my-3">
          <div class="row pb-1">
              <h5>1. ช่องทางการจำหน่ายสินค้าหรือให้บริการผ่านออนไลน์ (โปรดระบุให้ครบทุกช่องทาง)</h5>
         </div>
        <div class="row">
            <label class="checkbox" for="myCheckboxId">
                <input type="checkbox" class="checkbox_input" id="myCheckboxId" onclick="show('test1')">
                <div class="checkbox_box"></div> 
                e – Commerce Platform
            </label> 
         </div>    
        <div class="row">
            <ul class="test1" >
                <li>Lazada ระบุ URL ………………………………………..</li>
                <li>Shopee ระบุ URL ……………………………………….</li>
                <li>JD CENTRAL ระบุ URL ……………………………….</li>
                <li>lnwShop ระบุ URL …………………………………….</li>
                <li>อื่น ๆ ระบุ …………..……………………………………….</li>

            </ul>
        </div> 
        <div class="row">
            <label class="checkbox" for="myCheckboxId1">
                <input type="checkbox" class="checkbox_input" id="myCheckboxId1">
                <div class="checkbox_box"></div> 
                Platform จองโรงแรม
            </label>
        </div> 
        <div class="row">
            <ul>
                <li>Agoda ระบุ URL ………………………………………..</li>
                <li>Booking.com ระบุ URL ….………………………….</li>
                <li>Expedia ระบุ URL ………………………………….….</li>
                <li>AirBnb ระบุ URL ………………………………………..</li>
                <li>Traveloka ระบุ URL …………………………………..</li>
                <li>อื่น ๆ ระบุ…………………………………</li>

            </ul>
        </div> 
        <div class="row">
            <label class="checkbox" for="myCheckboxId2">
                <input type="checkbox" class="checkbox_input" id="myCheckboxId2">
                <div class="checkbox_box"></div> 
               บริการ Delivery / Food Delivery
            </label>   
        </div> 
        <div class="row">
            <ul>
                <li>GrabFood</li>
                <li>LineMan</li>
                <li>FoodPanda</li>
                <li>Get</li>
                <li>อื่น ๆ โปรดระบุ………………………..…………….</li>
            </ul>
        </div> 
        <div class="row">
            <label class="checkbox" for="myCheckboxId3">
                <input type="checkbox" class="checkbox_input" id="myCheckboxId3">
                <div class="checkbox_box"></div> 
               Social Media
            </label>
        </div>
         <div class="row">
            <ul>
                <li>facebook ระบุ URL…………..…………………………..</li>
                <li>Instagram ระบุ URL……….……………….…………….</li>
                <li>Line ระบุ Link Line / ID Line…….………………...</li>
                <li>Youtube ระบุ URL……………….……………………….</li>
                <li>อื่น ๆ โปรดระบุ………………………..…………….</li>
            </ul>
        </div>  
        <div class="row">
            <label class="checkbox" for="myCheckboxId4">
                <input type="checkbox" class="checkbox_input" id="myCheckboxId4">
                <div class="checkbox_box"></div> 
              มีเว็บไซต์ของตนเอง โปรดระบุ………………………..…………….
            </label>
        </div> 
    </div>









    
{{>layout/foot-layout}}