<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/all.css" />
    <link href="https://fonts.googleapis.com/css2?family=Taviraj&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
  
  <div class= "container mt-3">
      <h2>รายละเอียดการขายสินค้าออนไลน์</h2><hr>
        <h4>๑. ช่องทางการจำหน่ายสินค้าหรือให้บริการผ่านออนไลน์ (โปรดระบุให้ครบทุกช่องทาง)</h4>
      <div class="row">
        <input type="checkbox" class="custom-checkbox ml-3" id="checked">
        <label for="checked" class="col-8">e – Com merce Platform</label>
       </div>
        <div class="commerce">
          <div class="row mb-1">
            <label class="mb-0" for="lazada">Lazada ระบุ URL :</label>
                <div class="form">
                    <input type="text" id="lazada" required>
                    <span class="border-input"></span>
                </div>
          </div>
        <div class="row mb-1">
            <label class="mb-0" for="shopee">Shopee ระบุ URL :</label>
                <div class="form">
                    <input type="text" id="shopee" name="" required>
                    <span class="border-input"></span>
                </div>
          </div>
          <div class="row mb-1">
          <label class="mb-0" for="jd">JD CENTRAL ระบุ URL :</label>
                <div class="form">
                    <input type="text" id="jd" name="" required>
                    <span class="border-input"></span>
                </div>
          </div>
          <div class="row mb-1">
          <label class="mb-0" for="inwshop">Inw Shop ระบุ URL :</label>
                <div class="form">
                    <input type="text" id="inwshop" name="" required>
                    <span class="border-input"></span>
                </div>
          </div>
          <div class="row mb-1">
          <label class="mb-0" for="other">อื่น ๆ ระบุ URL :</label>
                <div class="form">
                    <input type="text" id="other" name="" required>
                    <span class="border-input"></span>
                </div>
          </div>
        </div>        
  </div>


</body>
  <script src="https://kit.fontawesome.com/350e34b2bb.js" crossorigin="anonymous"></script>
  <script src="js/formcommerce.js" ></script>
</html>